.orange{
color: orange;
}
.blue {
color: lightskyblue;    
}
.red {
color: red;
}
.green {
color: green;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    width: 10rem;
  }
.border-red {
    border: 1px solid red;
}